greenlet
gevent
twisted
aiohttp
aiopg
PyYAML
blinker
requests
requests_mock
bugzilla
boom
molotov
flask-webtest
pytest
flake8<4
pytest-flake8
sphinx
git+https://github.com/Runnerly/flakon.git#egg=flakon
msgpack-python
pika